@charset "UTF-8";
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.header__logo {
  background-color: white;
  width: 45%;
  padding-bottom: 20px;
}

footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding-bottom: 30px;
  padding-top: 20px;
}
footer h4 {
  font-size: 25px;
  margin-left: 20px;
  font-family: "Shrikhand";
}
footer ul {
  padding-left: 0;
  margin-left: 20px;
}
footer li {
  margin-top: 12px;
}
footer i {
  margin-right: 9px;
}
footer .fa-handshake {
  transform: rotate(45deg);
}
footer .fa-utensils {
  margin-right: 15px;
}
footer a {
  color: white;
  text-decoration: none;
}

.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  color: black;
  top: 4%;
  left: 1.5em;
}

.container-menu {
  background: #EAEAEA;
  position: relative;
  width: 100%;
  margin-top: -4rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.container-menu .restaurant-menu {
  padding-top: 35px;
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-menu .resto-titre {
  display: flex;
  font-family: "Shrikhand";
  color: black;
  font-size: 24px;
  margin: 0;
  margin-right: 20px;
}
.container-menu .resto-titre .heart {
  font-size: 20px;
}

.repas {
  margin-top: 20px;
  margin-left: 13px;
}
.repas .e-p-d {
  position: relative;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 5px;
}
.repas .e-p-d::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  left: 0;
  bottom: 0;
  background: #99E2D0;
}

.resto-img {
  width: 100%;
}
.resto-img .photo {
  width: 100%;
}

.article {
  background: white;
  border-radius: 25px;
  padding: 10px;
  width: 93%;
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article .article-name {
  position: relative;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article .repas-p {
  font-size: 15px;
  position: relative;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article .repas-titre {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article .prix {
  margin-right: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  width: 5rem;
  margin: -1rem -6rem -1rem -1rem;
}
.checkbox .fa-check {
  color: #99E2D0;
  background: white;
  padding: 3px;
  border-radius: 20px;
}

.commande {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 90%;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}
.card .txt {
  color: #000;
}
.card .card-contenu {
  text-decoration: none;
}
.card .card-titre {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card .card-p {
  padding-left: 10px;
  padding-bottom: 15px;
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.card .heart {
  width: 22px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 22px;
}

.carré {
  border-radius: 2px;
  background: var(--Green, #99E2D0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--Green-Font, #008766);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 12px;
  bottom: 209px;
}

.Fonctionnement__btn {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Fonctionnement__btn .Fonctionnement__lien {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-width: 2px;
  border-radius: 25px;
  background: var(--Background, #F6F6F6);
  width: 80%;
  height: 72.379px;
  gap: 20px;
  text-decoration: none;
  color: #000;
}
.Fonctionnement__btn .Fonctionnement__lien i {
  color: #7e7e7e;
  font-size: 30px;
}

.section1__btn {
  border-width: 2px;
  box-sizing: border-box;
  background: linear-gradient(#ff79d9, #9356DC);
  height: 50px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 18px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section1__btn a {
  color: white;
  text-decoration: none;
}
.section1__btn:hover {
  background: linear-gradient(#ff91e0, #9a65da);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.header__btn-search {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #D9D9D9;
}
.header__btn-search .header__input {
  background: #D9D9D9;
  border: none;
}
.header__btn-search .recherche {
  background: #D9D9D9;
  margin-left: 45px;
}

* {
  margin: 0;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .section1 {
    background: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .section1__titre {
    text-align: center;
    font-weight: 300;
    padding-bottom: 15px;
  }
  .Fonctionnement {
    flex-direction: column;
  }
  .fct-titre {
    padding-left: 140px;
    padding-bottom: 20px;
  }
  .btnn {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .Fonctionnement__btn {
    flex-direction: row;
  }
  .number {
    position: relative;
    background: #9356DC;
    border-radius: 100%;
    font-size: 17px;
    text-align: center;
    color: #f6f6f6;
    padding: 5px 10px 5px 10px;
    left: 10px;
    z-index: 3;
    margin-left: 10px;
  }
  .resto-t {
    padding-left: 140px;
    padding-bottom: 20px;
  }
  .restoo {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .restoo .card {
    width: 36%;
  }
  .resto-img {
    width: 100%;
  }
  .resto-img .photo {
    height: 25em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer {
    align-items: center;
    flex-direction: row-reverse;
  }
  footer h4 {
    font-size: 19px;
    margin-left: 175px;
    margin-right: 55px;
  }
  footer .footer-liste {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  footer .pur {
    margin-left: 25px;
  }
  footer .dup {
    margin-right: 30px;
    overflow: hidden;
  }
  footer li {
    margin-left: 25px;
  }
}
@media (min-width: 1290px) {
  .header__logo {
    width: 18%;
  }
  .Fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .fct-titre {
    padding-left: 40px;
  }
  br {
    display: none;
  }
  .loader h1 {
    font-size: 8em;
  }
  main .Fonctionnement__btn {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75%;
    padding-top: 20px;
  }
  main .resto-t {
    padding-left: 270px;
  }
  main .restoo {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  main .restoo .card {
    width: 40%;
  }
  .section1 {
    background: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .h1 {
    text-align: center;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 10px;
  }
  .section1__titre {
    text-align: center;
    font-weight: 300;
    padding-bottom: 15px;
  }
  .notice-title {
    width: 100%;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .number {
    position: relative;
    background: #9356DC;
    border-radius: 100%;
    font-size: 17px;
    text-align: center;
    color: #f6f6f6;
    padding: 5px 10px 5px 10px;
    left: 10px;
    z-index: 3;
    margin-left: 10px;
  }
  .btnn {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  footer {
    align-items: center;
    flex-direction: row-reverse;
  }
  footer h4 {
    font-size: 19px;
    margin-left: 175px;
    margin-right: 55px;
  }
  footer .footer-liste {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  footer .pur {
    margin-left: 25px;
  }
  footer .dup {
    margin-right: 30px;
    overflow: hidden;
  }
  footer li {
    margin-left: 25px;
  }
  .resto-img {
    width: 100%;
  }
  .resto-img .photo {
    height: 25em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .container-menu {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  body .container-menu .restaurant-menu {
    justify-content: center;
  }
  body .container-menu .restaurant-menu .restaurant-name {
    margin-right: 1em;
  }
  .heart {
    font-size: 22px;
  }
}
.fa-heart:hover {
  color: linear-gradient(#ff79d9, #9356DC);
  font-weight: bold;
  cursor: pointer;
  transition: all 2s linear;
}

.heart:hover {
  background: linear-gradient(#9356DC, #ff79d9);
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.Fonctionnement__lien:hover {
  background: #F5DEFF;
}
.Fonctionnement__lien:hover i {
  color: #9356DC;
}

.loader {
  background: black;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}
.loader h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Shrikhand";
  font-size: 2em;
  color: #9356DC;
  text-align: center;
  justify-content: center;
  display: flex;
}

span {
  width: 100%;
  opacity: 0;
}

.let1 {
  animation: drop 1s ease-in-out;
  animation-delay: 1s;
}

.let2 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.2s;
}

.let3 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.3s;
}

.let4 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.4s;
}

.let5 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.5s;
}

.let6 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.6s;
}

.let7 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.7s;
}

.let8 {
  animation: drop 1s ease-in-out;
  animation-delay: 1.8s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.first {
  animation: dishappear 2s ease-in-out;
}

.second {
  animation: dishappear 2s ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.third {
  animation: dishappear 2s ease-in-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

@keyframes dishappear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.article:hover .checkbox {
  animation: validate 1s ease-in-out;
  animation-fill-mode: both;
}
.article:hover .checkbox .fa-check {
  animation: rotor 1s ease-in-out;
}

@keyframes validate {
  from {
    margin-right: -6rem;
  }
  to {
    margin-right: -0.7rem;
  }
}
@keyframes rotor {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-720deg);
  }
}
* {
  margin: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--Background, #F6F6F6);
    gap: 15px;
  }
  .section1__titre {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
  }
  .titre-p {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 15px;
  }
  h2 {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .Fonctionnement {
    width: 100%;
    background: var(--White, #FFF);
  }
  .fct-titre {
    padding-top: 20px;
  }
  .btnn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .number {
    position: relative;
    background: #9356DC;
    border-radius: 100%;
    font-size: 17px;
    text-align: center;
    color: #f6f6f6;
    padding: 5px 10px 5px 10px;
    z-index: 3;
    margin-left: 10px;
    right: 160px;
    top: 50px;
  }
  .restau {
    background: var(--Background, #F6F6F6);
  }
  .restau .resto-titre {
    margin-top: 55px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */