@charset "UTF-8";
.card {
  width: 90%;
  border-radius: 15px;
  margin-left: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
  color: #000;
  font-style: normal;
  line-height: normal;
}
.card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}
.card .card-contenu {
  text-decoration: none;
}
.card .card-titre {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.card .card-p {
  padding-left: 10px;
  padding-bottom: 15px;
  margin: 0;
  color: #000;
  font-size: 17px;
  font-weight: 300;
}

.carré {
  border-radius: 2px;
  background: var(--Green, #99E2D0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--Green-Font, #008766);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 12px;
  left: 248px;
  bottom: 209px;
}

.fa-heart {
  width: 22px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  left: 293px;
  font-size: 30px;
}

.Fonctionnement__btn {
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.Fonctionnement__btn .Fonctionnement__lien {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-width: 2px;
  border-radius: 25px;
  background: var(--Background, #F6F6F6);
  width: 80%;
  height: 72.379px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 20px;
  text-decoration: none;
}

.section1__btn {
  border-width: 2px;
  box-sizing: border-box;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1__lien {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header__btn-search {
  width: 100%;
  height: 50px;
  gap: 5px;
  background: var(--Grey-2, #EAEAEA);
}

.header__input {
  background: var(--Grey-2, #EAEAEA);
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 0;
}
.header img {
  width: 50%;
}
.header .header__logo {
  background-color: white;
  width: 100%;
}

.footerr {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
}
.footerr h4 {
  font-family: "Shrikhand";
}

* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header img {
  width: 100%;
}

.footerr {
  background-color: #353535;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--Background, #F6F6F6);
  }
  .section1 .section1__titre {
    width: 100%;
    text-align: center;
  }
  .Fonctionnement {
    width: 100%;
    background: var(--White, #FFF);
  }
  .restau {
    background: var(--Background, #F6F6F6);
  }
  .restoo {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=main.css.map */