@import './utils/variable.scss' ;
@import './utils/mixin.scss' ;
@import './layout/layout.scss' ;
@import './components/card.scss';
@import './components/button.scss' ;
@import './components/form.scss' ;
@import './base/base.scss' ;
@import './components/animation' ;

* {
margin: 0;
font-family: "Roboto";
}

a {
    text-decoration: none;
}


img {
    object-fit: cover;
}
@media only screen and (max-width: 768px) and (min-width: 140px) {

.section1 {
    display: flex;
    flex-direction: column;
     flex-wrap: nowrap;
     align-items: center;
     background: var(--Background, #F6F6F6);
     gap: 15px;
     padding-top: 10px;
}
.section1__titre {
     width: 100%;
     text-align: center;
     display: flex;
     flex-direction: column;
     gap:15px;
     padding-top: 10px;
      }
    .titre-p {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
padding-bottom: 15px;
            }
     h2 {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
     }
        .Fonctionnement {
            width: 100%;
            background: var(--White, #FFF);
        }
        .fct-titre {
            padding-top: 20px;
        }
        .btnn {
            width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
        }
        .number {
            position: relative;
    background: #9356DC;
    border-radius: 100%;
    font-size: 17px;
    text-align: center;
    color: #f6f6f6;
    padding: 5px 10px 5px 10px;
    z-index: 3;
    margin-left: 10px;
    right: 160px;
    top: 50px;
}
.e-p-d{
    &::after{
        left:0
    }   
}
  .restau {
 background: var(--Background, #F6F6F6); 
    .resto-titre {
        margin-top: 55px;
        margin-bottom: 20px;
    }
  }
}
        