.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.header__logo {
    background-color: white;
width: 45%;
padding-bottom: 20px;
}
footer{
    background:#353535;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    color:white;
    padding-bottom:30px;
    padding-top: 20px;
    h4{ 
        font-size:25px;
        margin-left:20px;
        font-family: "Shrikhand";
    }
    ul{
        padding-left:0;
        margin-left:20px;
    }
    li{
        margin-top:12px;
    }
    i{
        margin-right:9px;
    }
    .fa-handshake{
        transform: rotate(45deg);
    }
    .fa-utensils{
        margin-right:15px;
    }
    a{
        color:white;
        text-decoration: none;
    }
}
 .fa-arrow-left {
     font-size:20px;
      position:absolute;
     color:black;
     top:4%;
     left:1.5em;
    }

.container-menu {
    background: #EAEAEA;
    position:relative;
    width:100%;
    margin-top:-4rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    .restaurant-menu{
        padding-top:35px;
       background: #EAEAEA;
        display:flex;
        align-items: center;
        justify-content:space-around;
    }
    .resto-titre{
        display:flex;
        font-family: "Shrikhand"; 
        color:black;
        font-size:24px;
        margin:0;
        margin-right: 20px;
        .heart {
            font-size: 20px;
        }
    }
}
    
 .repas{
        margin-top:20px;
        margin-left:13px;
        .e-p-d{
            position:relative;
            font-weight:300;
            margin-top:20px;
            margin-bottom:40px;
            padding-bottom:5px;
            &::after{
                position:absolute;
                content:"";
                width:2.5rem;
                height:0.2rem;
                left:0;
                bottom:0;
               background:#99E2D0
            }   
        }
    }

 .resto-img{
        width:100%;
        .photo{
            width:100%;
        }
    }
    
.article{
    background:white;
    border-radius:25px;
    padding:10px;
    width:93%;
     margin-bottom:15px;
     display: flex;
     overflow:hidden;
     text-overflow: ellipsis;
      white-space: nowrap;
     .article-name{
          position: relative;
         flex:1;
          overflow:hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
                }
     .repas-p{
       font-size:15px;
         position: relative;
         flex:1;
         overflow:hidden;
        text-overflow: ellipsis;
           white-space: nowrap;
                }
         .repas-titre {
                 font-size:15px;
              text-overflow: ellipsis;
              white-space: nowrap
                }
                .prix{
                    margin-right:3em;
                    display:flex;
                    justify-content: flex-end;
                    align-items:flex-end;
                    font-weight: bold;
                }
    
                }
    
    .checkbox{
    display:flex;
    justify-content: center; 
    align-items:center;
    background: #99E2D0;
     width:5rem;
    margin:-1rem -6rem -1rem -1rem;
     .fa-check{
         color:#99E2D0;
         background:white;
          padding:3px;
         border-radius:20px;
          }
   }
    
 .commande{
     width:100%;
     display:flex;
    justify-content: center;
    margin-top:20px;
            }
    